openapi: 3.0.2
info:
  contact:
    email: support@belvo.com
    name: Need help?
    url: https://developers.belvo.com
  description: |
    # Introduction

    Belvo is an open banking API for Latin America that allows companies to access banking and fiscal information in a secure as well as agile way.

    Through our API, you can access:


    - **Bank and Gig information** such as account information, real-time
    balance, historical transactions, and account owner identification.

    - **Fiscal information** such as received and sent invoices and tax returns.


    <img src="https://files.readme.io/acf27d3-belvo_pipes.png"
    alt="fiscal-endpoints">


    In this API reference you'll find all the information you need about each

    endpoint and resource.


    <div style="background-color:#f4f6f8; border-left: 6px solid
    #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right:
    25px">

    <strong>Tip: </strong> Make sure that you also check out our Developer
    Portal for guides on <a
    href="https://developers.belvo.com/docs/get-started-in-5-minutes"
    target="_blank">how to get started</a>, using our <a
    href="https://developers.belvo.com/docs/test-in-sandbox"
    target="_blank">Sandbox environment</a>, as well as how to <a
    href="https://developers.belvo.com/docs/connect-widget"
    target="_blank">integrate the widget</a> or use our <a
    href="https://developers.belvo.com/docs/quickstart-application"
    target="_blank">quickstart application</a>.

    </div>


    ## Environment

    We currently offer three environments: sandbox, development, and
    production.


    When using our SDKs, make sure to use the **Alias** (and not the Base URL).


    | Environment | Purpose | Access |
    |-----------|-------|-------|
    | **Sandbox** | The [Sandbox environment](https://developers.belvo.com/docs/test-in-sandbox) is dedicated for your testing and development phases. In this environment, you can create links without real credentials and you can pull test data from all endpoints. **⚠️The sandbox environment is refreshed frequently and your test data can be updated or deleted.** | Base URL (cURL): https://sandbox.belvo.com/ <br><br>Alias (SDKs): sandbox|
    |**Development**|The Development environment is dedicated for testing with real credentials and institutions with real-world institutions. You can create up to 25 links for free in this environment.| Base URL (cURL): https://development.belvo.com/ <br><br>Alias (SDKs): development |
    | **Production** | The Production environment is dedicated for live applications with real connections to institutions. In this environment, you
    will need real credentials to create links and you will pull real data from the institutions.| Base URL (cURL): https://api.belvo.com/ <br><br>Alias
    (SDKs): production|


    For each environment, you'll need to [generate separate API
    keys](https://developers.belvo.com/docs/get-your-belvo-api-keys).


    ## Response codes


    We use the following HTTP status code in the response depending on the
    success or failure:


    | Status Code | Description |
    |-----------|-------|
    | `200` | ✅ **Success** - The content is available in the response body. |
    | `201` | ✅ **Success** - The content was created successfully on Belvo. |
    | `204` | ✅ **Success** - No content to return. |
    | `400` | ❌ **Bad Request Error** - Request returned an error, detail in content.|
    | `401` | ❌ **Unauthorized** - The Belvo credentials provided are not valid.|
    | `404` | ❌ **Not Found** - The resource you try to access cannot be found.|
    | `405` | ❌ **Method Not Allowed** - The HTTP method you are using is not accepted for this resource.|
    | `408` | ❌ **Request Timeout** - The request timed out and was terminated by the server.|
    | `428` | ❌ **MFA Token Required** - MFA token was required by the institution to connect. |
    | `500` | ❌ **Internal Server Error** - The detail of the error is available in the response body.|


    ## Error handling


    ### Error messages


    Belvo API errors are returned in JSON format. For example, an error might
    look like this:


    ```json

    [
        {
          "request_id": "a6e1c493d7a29d91aed4338e6fcf077d",
          "message": "This field is required.",
          "code": "required",
          "field": "link"
        }
    ]

    ```


    Typically, an error response will have the following parameters:

    - `request_id`: a unique ID for the request, you should share it with the
    Belvo support team for investigations.

    - `message`: human-readable description of the error.

    - `code`: a unique code for the error. Check the table below to see how to
    handle each error code.

    - `field` *(optional)*: The specific field in the request body that has an
    issue.



    ### Request identifier

    When you need help with a specific error, add the request identifier
    (`request_id`) in your message to the Belvo support team. This will speed up
    investigations and get you back up and running in no time at all.


    ### Error codes and troubleshooting


    For a full list of errors and how to troubleshoot them, please see our
    dedicated [Error handling
    articles](https://developers.belvo.com/docs/integration-overview#error-handling)
    in our DevPortal.



    ### Retry policy


    Please see our recommended [retry
    policies](https://developers.belvo.com/docs/integration-overview#error-retry-policy)
    in the DevPortal.
  title: Belvo API Docs
  version: 1.20.1
  x-logo:
    url: https://files.readme.io/5111448-belvo-for-developers.svg
    altText: Belvo logo
servers:
- description: Sandbox
  url: https://sandbox.belvo.com
- description: Development
  url: https://development.belvo.com
security:
- basicAuth: []
tags:
- description: |
    An **institution** is an entity that Belvo can access information from. It can be a:

    - bank institution, such as Banamex retail banking or HSBC business banking.
    - fiscal institution, such as the Servicio de Administración Tributaria (SAT) in Mexico.
    - gig institution, such as Uber or Rappi.


    <img src="https://files.readme.io/fc3891f-institutions_api_reference.png" alt="fiscal-endpoints" width="650">

    You can see a complete list of institutions by either consulting our [Institutions article](https://developers.belvo.com/docs/institution) or making a List request to this endpoint.
  name: Institutions
- description: |
    A **Link** is a set of credentials associated to an end-user's access to an **institution**.


    <div style="background-color:#f4f6f8; border-left: 6px solid #808080;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
    <strong>Example: </strong> The username and password combination used to log in to an online banking application would be a link.
    </div>


    You will need to register a **Link** before accessing information from that specific end-user, such as account or transaction details.

    <div style="background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
    <strong>Note: </strong> We recommend using our <a href="https://developers.belvo.com/docs/connect-widget" target="_blank">Connect Widget</a> to handle link creation and link status updates.
    </div>


    You have the possibility to register two types of links:


    ### Recurrent links (default)


    With recurrent links, Belvo automatically refreshes information daily and
    notifies you via [webhook](https://developers.belvo.com/docs/webhooks) so
    you always have up-to-date data. Then, when you receive the webhook, you
    can make GET requests to the List or Detail endpoints to instantly access
    up-to-date information, without needing to connect to the institution.


    <img src="https://files.readme.io/7b6c0d4-Recurrent_Link_FLow.png" alt="fiscal-endpoints" width="950">


    You can also make POST calls directly to the institution, as with single
    links, as soon as the link is created. However, we recommend you follow the flow described above (waiting for the webhook event) for a more optimal experience.


    ### Single links


    Single links are used to perform ad hoc data access to accounts, owners,
    transactions, and so on. For example, you can use it when you want to do
    an underwriting process to assess risk before lending money.

    For single links, you have to perform POST calls to an institution **every
    time** you want to access fresh data.

    <img src="https://files.readme.io/eda7956-Single_Link_Flow.svg" alt="fiscal-endpoints" width="950">
  name: Links
- description: |
    Use our Banking and Gig API product to access account, balance, owner, bank statement, as well as transaction data from banking and gig institutions.<br>


    <img src="https://files.readme.io/85063c6-banking_endpoints_API_reference.png" alt="banking-endpoints" width="750">


    | API Endpoint | Description | Supported institutions |
    |-----------|-------|---|
    | `api/accounts/` | Get information about your customer's bank accounts.|Banking and Gig|
    | `api/balances/` | Get the balance at the end of each day for your customer's bank accounts. |Banking|
    | `api/owners/` | Get the details of an account owner. |Banking and Gig|
    | `api/transactions/` | Get a list of bank transactions with metadata. |Banking and Gig|
  name: Banking and Gig API introduction
- description: |
    An **account** is the representation of a bank account inside a financial or gig institution. A user can have one or more accounts in an institution.

    For example, one user (or link) can have a checking account, several credit cards, and a loan account.
  name: Accounts
- description: |
    A **transaction** contains the detailed information of each movement inside an account. For example, a purchase at a store or a restaurant.
  name: Transactions
- description: |
    A **balance** represents the amount of funds available in a checking or savings account over a period of time.

    <div style="background-color:#f4f6f8; border-left: 6px solid #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
        <strong>Info: </strong> <ul>
        <li>The Balances endpoint is not supported for gig-economy links.</li>
        <li>If your Balance request is not for a checking or savings account, we return an empty array.</li>
        <li>If we cannot calculate the balance for a given day within your requested period, the <code>balance</code> and <code>current_balance</code> fields will return <code>null</code> for that day.</li>
        </ul>
     </div>
  name: Balances
- description: |
    An **owner** represents the person who has access to a Link and is the owner of all the accounts inside the Link.
  name: Owners
- description: "<div style=\"background-color:#bce9af;padding: 6px; border-radius:\
    \ 4px\">\n      <strong>\U0001f389 In Beta </strong><br>\n      This resource\
    \ is currently in open beta for all users. If you see any issues, don't hesitate\
    \ to contact our support team. \n      </div>\n\n\n\nInvestment Portfolios are\
    \ in open BETA for everyone to use. At the moment we only support the following\
    \ institutions and investment products:\n\n|Institution|Portfolio|Instruments|\n\
    |---|---|---|\n|Banco de Brazil Retail (Brazil)|`FIXED_INCOME`|`DEPOSIT`|\n|Banco\
    \ Inter Retail (Brazil)|`FIXED_INCOME`|`DEPOSIT`|\n|Bradesco Retail (Brazil)|`FIXED_INCOME`,\
    \ `VARIABLE_INCOME` |`DEPOSIT`, `FUND`|\n|BTG Investimentos (Brazil) | `FIXED_INCOME`,\
    \ `VARIABLE_INCOME`|`DEPOSIT`, `BOND`, `FUND`, `STOCKS`|\n|CaixaBank Retail (Brazil)\
    \ | `FIXED_INCOME`, `VARIABLE_INCOME`|`DEPOSIT`, `FUND`|\n|Itau Retail (Brazil)|`FIXED_INCOME`,\
    \ `VARIABLE_INCOME`|`DEPOSIT`, `FUND`, `STOCKS`|\n|Orama Retail (Brazil)|`FIXED_INCOME`,\
    \ `VARIABLE_INCOME`|`BOND`, `FUND`, `STOCKS`|\n|Santander Retail (Brazil)|`FIXED_INCOME`,\
    \ `VARIABLE_INCOME`|`DEPOSIT`, `BOND`, `FUND`|\n|XP Investimentos (Brazil) | `FIXED_INCOME`,\
    \ `VARIABLE_INCOME`|`DEPOSIT`, `BOND`, `FUND`, `STOCKS`|"
  name: Investment Portfolios (BETA)
- description: "<div style=\"background-color:#bce9af;padding: 6px; border-radius:\
    \ 4px\">\n      <strong>\U0001f389 In Beta </strong><br>\n      This resource\
    \ is currently in open beta for all users. If you see any issues, don't hesitate\
    \ to contact our support team. \n</div>\n\nA transaction in the context of investments\
    \ is any financial movement within an instrument. For example, buying new stocks,\
    \ selling a stake in a fund, paying a fee on an instrument, and so on.\n\n\nAt\
    \ the moment we only support the following institutions:\n\n- XP Investimentos\
    \ (Brazil)\n\n"
  name: Investment Transactions (BETA)
- description: "<div style=\"background-color:#bce9af;padding: 6px; border-radius:\
    \ 4px\">\n      <strong>\U0001f389 In Beta </strong><br>\n      This resource\
    \ is currently in open beta for all users. If you see any issues, don't hesitate\
    \ to contact our support team. \n      </div>\n\nWith our receivable transactions\
    \ resource, you can gain access to every transaction processed by the end user\
    \ (business) conducted through a POS terminal. For each transaction, we return\
    \ the:\n\n- gross and net amounts\n- type of card used\n- fees applied to the\
    \ transaction\n- and more!"
  name: Receivable Transactions (BETA)
- description: |
    Belvo's Enrichment API are a set of endpoints that return additional insights on your user's banking data.

    - **Incomes**: Use this endpoint to verify your user's income.
    - **Recurring Expenses**: Use this endpoint to identify the recurrent expenses (such as Netflix suubscriptions) that your user pays.
  name: Enrichment API introduction
- description: |
    Use the Incomes endpoint to gather insights on an account's income sources for the past 365 days. The endpoint is particularly useful when you want to verify a person's income.

    <div style="background-color:#f4f6f8; border-left: 6px solid #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
        <strong>Info: </strong> The incomes resource is <b>only</b> available for Checking and Savings
    accounts associated with banking links.
     </div>
  name: Incomes
- description: |
    Belvo's Recurring Expenses API allows you to identify a user's regular payments for subscription services, such as Netflix or gym memberships, as well as utility payments, such as electricity or phone bills. We return information for up to 365 days.


    <div style="background-color:#f4f6f8; border-left: 6px solid #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
        <strong>Info: </strong> The recurring expenses resource is <b>only</b> available for Checking and Savings accounts associated with banking links.
     </div>
  name: Recurring Expenses
- description: |
    Belvo's Risk Insights endpoint exposes a set of features that can be used to improve your company's credit risk and opportunity decisions. These set of features can be used as building blocks to create or iterate on your own credit score using transactional banking data with the objective of improving the predictive power of your models. You can use these components as you require and according to what makes the most sense for your specific use case.

    To calculate the risk insights, we take up to 90 days of transactional data from the user's checking, savings, loans, and credit card accounts.

    If you need to know the currency of the account, just do a GET Details to the Accounts endpoint (using the account ID you receive from in the accounts array of the response).
  name: Risk Insights
- description: |
    Use our **Fiscal API** product to access invoices, tax compliance statuses, tax returns, tax retentions, and tax statuses from the fiscal authority in a given country.


    <img src="https://files.readme.io/97c76a8-Fiscal_endpoints_horizontal.png" alt="fiscal-endpoints" width="750">


    | API Endpoint | Description |
    |-----------|-------|
    | `api/invoices/` | Get all the information about the invoices sent and received by a person or a business that have been certified by the tax authority. |
    | `api/tax-compliance-status/`| Get information about whether a person or business is complying to their tax obligations.|
    | `api/tax-returns/` | Get all the information about the tax returns sent every year to the tax authority by a person or a business. |
    | `api/tax-retentions/` | Get information about tax retention invoices sent and received by a business or a person. |
    | `api/tax-status/` | Get all the information about the tax situation of a person or a business. |

    <div style="background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
    <strong>Note: </strong> You can only access this information with <b>fiscal</b> links.
    </div>
  name: Fiscal API introduction
- description: |
    An **invoice** is the representation of an electronic invoice, that can be received or sent, by a business or an individual and has been uploaded to the fiscal institution's website. Multiple INFLOW (invoice received) and OUTFLOW (invoice sent) invoices can be retrieved inside each link coming from a fiscal institution.

    <div style="background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px;">
    <strong>Note: </strong> If you want to see example responses for different invoice types, just click the drop-down menu under <b>Response Samples</b>.
    </div>
  name: Invoices
- description: |
    A **tax return** is the representation of the tax return document sent every year by a person or a business to the tax authority in the country.


    The tax return data structure will be different depending on if it is related to a person or a business (you will find examples for both in the endpoints below).
  name: Tax returns
- description: |
    A **tax status** - or _Constancia de Situación Fiscal_ - is the representation of the tax situation of a person or a business provided by the tax authority in the country.
  name: Tax status
- description: |
    A **tax retention** is the amount of money that the payer must deduct from the total amount of a purchase invoice, according to the fiscal institution’s regulations.


    With Belvo’s Tax Retentions resource, you can quickly and easily consult information regarding a user’s tax retentions over a given period or for a specific invoice. This is particularly useful when you want to aid your user in their tax returns as for each invoice you receive the:

    - invoice amount
    - amount that is exempt from taxation
    - total amount that is taxed
    - breakdown of all the taxes applied to the invoice
  name: Tax retentions
- description: |
    A **tax compliance status** indicates about whether a person or business is complying with their tax obligations at the moment of the request. The information is extracted from SAT's _Opinion de cumplimiento de Obligaciones Fiscales_ document.
  name: Tax compliance status
paths:
  /api/links/:
    get:
      description: "Get a paginated list of all the existing links in your Belvo account.\
        \ By default, we return up to 100 results per page."
      operationId: ListLinks
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: "Indicates how many results to return per page. By default we\
          \ return 100 results per page. \n\nℹ️ The minimum number of results returned\
          \ per page is 1 and the maximum is 1000. If you enter a value greater than\
          \ 1000, our API will default to the maximum value (1000).\n"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - allowReserved: true
        description: |-
          List of additional fields you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.
          ℹ️ **Note**: Although `filters` is an object, any filter you use is automatically serialized as a query string.
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/linkFilters'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponseLink'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
      summary: List all links
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl https://sandbox.belvo.com/api/links/ \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from pprint import pprint
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # List links
            for link in client.Links.list():
                pprint(link)
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.list
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.list()
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-accepts: application/json
    patch:
      description: Used to resume a Link register session that was paused because
        an MFA token was required by the institution.
      operationId: PatchLinks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBodyWithoutSaveData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegisterLink_400_response_inner'
                type: array
          description: Bad request error
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "428":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenRequiredResponse'
                type: array
          description: MFA Token Required
        "500":
          content:
            application/json:
              schema:
                description: "This error occurs when we (Belvo) have encountered an\
                  \ internal system error (sorry about that) or due to an unsupported\
                  \ response from the institution.\n  "
                items:
                  $ref: '#/components/schemas/UnexpectedError'
                title: Unexpected Error
                type: array
          description: Unexpected Error
      summary: Complete a links request
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X PATCH \
              https://sandbox.belvo.com/api/links/ \
              -H 'Content-Type: application/json' \
              -H 'Host: sandbox.belvo.com' \
              -H 'cache-control: no-cache' \
              -d '{
                  "session": "",
                  "token": "",
                  "link": ""
              }' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Resume a link
            link = client.Links.resume(
              session="session_id",
              token="token",
              link="link_id"
            )
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.resume(
              session_id: 'your-session-id',
              token: 'otp-token',
              link: 'link-id'
            )
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.resume('yourSessionId', 'yourOTPToken', 'linkId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: |
        Register a new link with your Belvo account.

        <div style="background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px">
        <strong>Note: </strong> We recommend using our <a href="https://developers.belvo.com/docs/connect-widget" target="_blank">Connect Widget</a> to handle link creation and link status updates.
        </div>
      operationId: RegisterLink
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinksRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Created
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegisterLink_400_response_inner'
                type: array
          description: Bad request error
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "428":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenRequiredResponse'
                type: array
          description: MFA Token Required
        "500":
          content:
            application/json:
              schema:
                description: "This error occurs when we (Belvo) have encountered an\
                  \ internal system error (sorry about that) or due to an unsupported\
                  \ response from the institution.\n  "
                items:
                  $ref: '#/components/schemas/UnexpectedError'
                title: Unexpected Error
                type: array
          description: Unexpected Error
      summary: Register a new link
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X POST \
              https://sandbox.belvo.com/api/links/ \
              -H 'Content-Type: application/json' \
              -H 'Host: sandbox.belvo.com' \
              -H 'cache-control: no-cache' \
              -d '{
                "institution": "",
                "username": "",
                "password": ""
            }' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Register a link
            link = client.Links.create(
                institution="erebor_mx_retail",
                username="johndoe",
                password="supersecret"
            )
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.register(
              institution: 'erebor_mx_retail',
              username: 'johndoe',
              password: 'supersecret'
            )
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.register('erebor_mx_retail', 'johndoe', 'supersecret')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-content-type: application/json
      x-accepts: application/json
  /api/links/{id}/:
    delete:
      description: "Delete a specific link and all associated accounts, transactions,\
        \ and owners from your Belvo account."
      operationId: DestroyLink
      parameters:
      - description: The `link.id` that you want to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "404":
          content:
            application/json:
              schema:
                description: "You made a request where you:\n\n  - provided the wrong\
                  \ URL.\n  - used an ID (for a link, account, transaction, and so\
                  \ on) that is not associated with your Belvo account.\n  "
                items:
                  $ref: '#/components/schemas/NotFoundError'
                type: array
          description: Not Found
      summary: Delete a link
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X DELETE \
              https://sandbox.belvo.com/api/links/{id}/ \
              -H 'Host: sandbox.belvo.com' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            client.Links.delete("link_id")
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.delete id: 'link-id'
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.delete('linkId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-accepts: application/json
    get:
      description: Get the details of a specific link.
      operationId: DetailLink
      parameters:
      - description: The `link.id` you want to get detailed information about.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "404":
          content:
            application/json:
              schema:
                description: "You made a request where you:\n\n  - provided the wrong\
                  \ URL.\n  - used an ID (for a link, account, transaction, and so\
                  \ on) that is not associated with your Belvo account.\n  "
                items:
                  $ref: '#/components/schemas/NotFoundError'
                type: array
          description: Not Found
      summary: Get a link's details
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl https://sandbox.belvo.com/api/links/{id} \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Get a link
            link = client.Links.get(id="link_id")
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.detail id: 'link-id'
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.detail('linkId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-accepts: application/json
    put:
      description: |
        Update the credentials of a specific link. If the successfully updated link is a recurrent one, we automatically trigger an update of the link. If we find fresh data, you'll [receive historical update](https://developers.belvo.com/docs/webhooks) webhooks.
        <div style="background-color:#f4f6f8; border-left: 6px solid #4CAF50;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px"> <strong>Note: </strong> We recommend using our <a href="https://developers.belvo.com/docs/connect-widget" target="_blank">Connect Widget</a> to handle updating <code>invalid</code> or <code>token_required</code> links. </div>
      operationId: UpdateLink
      parameters:
      - description: The `link.id` you want to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinksPutRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegisterLink_400_response_inner'
                type: array
          description: Bad request error
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "404":
          content:
            application/json:
              schema:
                description: "You made a request where you:\n\n  - provided the wrong\
                  \ URL.\n  - used an ID (for a link, account, transaction, and so\
                  \ on) that is not associated with your Belvo account.\n  "
                items:
                  $ref: '#/components/schemas/NotFoundError'
                type: array
          description: Not Found
        "428":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenRequiredResponse'
                type: array
          description: MFA Token Required
        "500":
          content:
            application/json:
              schema:
                description: "This error occurs when we (Belvo) have encountered an\
                  \ internal system error (sorry about that) or due to an unsupported\
                  \ response from the institution.\n  "
                items:
                  $ref: '#/components/schemas/UnexpectedError'
                title: Unexpected Error
                type: array
          description: Unexpected Error
      summary: Update a link's credentials
      tags:
      - Links
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X PUT https://sandbox.belvo.com/api/links/{id} \
              -H 'Content-Type: application/json' \
              -H 'Host: sandbox.belvo.com' \
              -H 'cache-control: no-cache' \
              -d '{
                  "password": ""
              }' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Update a link
            link = client.Links.put(link="link_id", password="password")
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.links.update(link: 'link-id', password: 'new-password')
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.links.update('linkID', 'newSuperSecret')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-content-type: application/json
      x-accepts: application/json
  /api/accounts/:
    get:
      description: "Get a paginated list of all existing accounts in your Belvo account.\
        \ By default, we return up to 100 results per page."
      operationId: ListAccounts
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: "Indicates how many results to return per page. By default we\
          \ return 100 results per page. \n\nℹ️ The minimum number of results returned\
          \ per page is 1 and the maximum is 1000. If you enter a value greater than\
          \ 1000, our API will default to the maximum value (1000).\n"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: |
          The `link.id` you want to filter by.

          ℹ️ We highly recommend adding the `link.id` filter in order to improve your performance.
        explode: true
        in: query
        name: link
        required: false
        schema:
          example: 8848bd0c-9c7e-4f53-a732-ec896b11d4c4
          format: uuid
          type: string
        style: form
      - allowReserved: true
        description: |-
          List of additional fields you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.
          ℹ️ **Note**: Although `filters` is an object, any filter you use is automatically serialized as a query string.
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/accountFilters'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsPaginatedResponse'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
      summary: List all accounts
      tags:
      - Accounts
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl https://sandbox.belvo.com/api/accounts/ \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from pprint import pprint
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # List Accounts
            for account in client.Accounts.list():
                pprint(account)
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.accounts.list
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.accounts.list()
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-accepts: application/json
    patch:
      description: Used to resume an Account retrieve session that was paused because
        an MFA token was required by the institution.
      operationId: PatchAccounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                AccountsBankingChecking:
                  $ref: '#/components/examples/AccountsBankingChecking'
                AccountsBankingCreditCard:
                  $ref: '#/components/examples/AccountsBankingCreditCard'
                AcccountsBankingLoan:
                  $ref: '#/components/examples/AccountsBankingLoan'
                AccountsBankingPension:
                  $ref: '#/components/examples/AccountsBankingPension'
                AccountsBankingSavings:
                  $ref: '#/components/examples/AccountsBankingSavings'
                AccountsGigDelivery:
                  $ref: '#/components/examples/AccountsGigDelivery'
                AccountsGigDriver:
                  $ref: '#/components/examples/AccountsGigDriver'
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Ok (when `save_data=false`)
        "201":
          content:
            application/json:
              examples:
                AccountsBankingChecking:
                  $ref: '#/components/examples/AccountsBankingChecking'
                AccountsBankingCreditCard:
                  $ref: '#/components/examples/AccountsBankingCreditCard'
                AcccountsBankingLoan:
                  $ref: '#/components/examples/AccountsBankingLoan'
                AccountsBankingPension:
                  $ref: '#/components/examples/AccountsBankingPension'
                AccountsBankingSavings:
                  $ref: '#/components/examples/AccountsBankingSavings'
                AccountsGigDelivery:
                  $ref: '#/components/examples/AccountsGigDelivery'
                AccountsGigDriver:
                  $ref: '#/components/examples/AccountsGigDriver'
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Created (when `save_data=true`)
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegisterLink_400_response_inner'
                type: array
          description: Bad request error
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "408":
          content:
            application/json:
              schema:
                description: "Belvo has a limit regarding the time it takes to log\
                  \ in, retrieve account data, and log out. A timeout occurs when\
                  \ there is a very high amount of data and everything could not be\
                  \ obtained within the allotted time.\n  "
                items:
                  $ref: '#/components/schemas/RequestTimeoutError'
                title: Request Timeout
                type: array
          description: Request Timeout
        "428":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenRequiredResponse'
                type: array
          description: MFA Token Required
        "500":
          content:
            application/json:
              schema:
                description: "This error occurs when we (Belvo) have encountered an\
                  \ internal system error (sorry about that) or due to an unsupported\
                  \ response from the institution.\n  "
                items:
                  $ref: '#/components/schemas/UnexpectedError'
                title: Unexpected Error
                type: array
          description: Unexpected Error
      summary: Complete an accounts request
      tags:
      - Accounts
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X PATCH \
              https://sandbox.belvo.com/api/accounts/ \
              -H 'Content-Type: application/json' \
              -H 'Host: sandbox.belvo.com' \
              -H 'cache-control: no-cache' \
              -d '{
                  "session": "",
                  "token": "",
                  "link": ""
              }' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Resume accounts
            accounts = client.Accounts.resume(
              session="session_id",
              token="token",
              link="link_id"
            )
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.accounts.resume(
              session: 'session_id',
              token: 'token',
              link: 'link_id'
            )
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.accounts.resume('sessionId', 'token', 'linkId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: Retrieve accounts from an existing link.
      operationId: RetrieveAccounts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StandardRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                AccountsBankingChecking:
                  $ref: '#/components/examples/AccountsBankingChecking'
                AccountsBankingCreditCard:
                  $ref: '#/components/examples/AccountsBankingCreditCard'
                AcccountsBankingLoan:
                  $ref: '#/components/examples/AccountsBankingLoan'
                AccountsBankingPension:
                  $ref: '#/components/examples/AccountsBankingPension'
                AccountsBankingSavings:
                  $ref: '#/components/examples/AccountsBankingSavings'
                AccountsGigDelivery:
                  $ref: '#/components/examples/AccountsGigDelivery'
                AccountsGigDriver:
                  $ref: '#/components/examples/AccountsGigDriver'
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Ok (when `save_data=false`)
        "201":
          content:
            application/json:
              examples:
                AccountsBankingChecking:
                  $ref: '#/components/examples/AccountsBankingChecking'
                AccountsBankingCreditCard:
                  $ref: '#/components/examples/AccountsBankingCreditCard'
                AcccountsBankingLoan:
                  $ref: '#/components/examples/AccountsBankingLoan'
                AccountsBankingPension:
                  $ref: '#/components/examples/AccountsBankingPension'
                AccountsBankingSavings:
                  $ref: '#/components/examples/AccountsBankingSavings'
                AccountsGigDelivery:
                  $ref: '#/components/examples/AccountsGigDelivery'
                AccountsGigDriver:
                  $ref: '#/components/examples/AccountsGigDriver'
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: Created (when `save_data=true`)
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegisterLink_400_response_inner'
                type: array
          description: Bad request error
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "408":
          content:
            application/json:
              schema:
                description: "Belvo has a limit regarding the time it takes to log\
                  \ in, retrieve account data, and log out. A timeout occurs when\
                  \ there is a very high amount of data and everything could not be\
                  \ obtained within the allotted time.\n  "
                items:
                  $ref: '#/components/schemas/RequestTimeoutError'
                title: Request Timeout
                type: array
          description: Request Timeout
        "428":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenRequiredResponse'
                type: array
          description: MFA Token Required
        "500":
          content:
            application/json:
              schema:
                description: "This error occurs when we (Belvo) have encountered an\
                  \ internal system error (sorry about that) or due to an unsupported\
                  \ response from the institution.\n  "
                items:
                  $ref: '#/components/schemas/UnexpectedError'
                title: Unexpected Error
                type: array
          description: Unexpected Error
      summary: Retrieve accounts for a link
      tags:
      - Accounts
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X POST \
              https://sandbox.belvo.com/api/accounts/ \
              -H 'Content-Type: application/json' \
              -H 'Host: sandbox.belvo.com' \
              -H 'cache-control: no-cache' \
              -d '{
                "link": "link_id"
            }' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Retrieve accounts
            accounts = client.Accounts.create(
              link="link_id"
            )
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.accounts.retrieve link: 'link-id'
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.accounts.retrieve('link-id')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-content-type: application/json
      x-accepts: application/json
  /api/accounts/{id}/:
    delete:
      description: "Delete a specific account and all associated transactions, as\
        \ well as owners, from your Belvo account."
      operationId: DestroyAccount
      parameters:
      - description: The `account.id` you want to delete
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "404":
          content:
            application/json:
              schema:
                description: "You made a request where you:\n\n  - provided the wrong\
                  \ URL.\n  - used an ID (for a link, account, transaction, and so\
                  \ on) that is not associated with your Belvo account.\n  "
                items:
                  $ref: '#/components/schemas/NotFoundError'
                type: array
          description: Not Found
      summary: Delete an account
      tags:
      - Accounts
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X DELETE \
              https://sandbox.belvo.com/api/accounts/{id}/ \
              -H 'Host: sandbox.belvo.com' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Delete an account
            client.Accounts.delete("account-id")
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.accounts.delete id: 'account-id'
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.accounts.delete('accountId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-accepts: application/json
    get:
      description: Get the details of a specific account.
      operationId: DetailAccount
      parameters:
      - description: The `account.id` you want to get detailed information about.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                AccountsBankingChecking:
                  $ref: '#/components/examples/AccountsBankingCheckingDetail'
                AccountsBankingCreditCard:
                  $ref: '#/components/examples/AccountsBankingCreditCardDetail'
                AcccountsBankingLoan:
                  $ref: '#/components/examples/AccountsBankingLoanDetail'
                AccountsBankingPension:
                  $ref: '#/components/examples/AccountsBankingPensionDetail'
                AccountsBankingSavings:
                  $ref: '#/components/examples/AccountsBankingSavingsDetail'
                AccountsGigDelivery:
                  $ref: '#/components/examples/AccountsGigDeliveryDetail'
                AccountsGigDriver:
                  $ref: '#/components/examples/AccountsGigDriverDetail'
              schema:
                $ref: '#/components/schemas/Account'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "404":
          content:
            application/json:
              schema:
                description: "You made a request where you:\n\n  - provided the wrong\
                  \ URL.\n  - used an ID (for a link, account, transaction, and so\
                  \ on) that is not associated with your Belvo account.\n  "
                items:
                  $ref: '#/components/schemas/NotFoundError'
                type: array
          description: Not Found
      summary: Get an account's details
      tags:
      - Accounts
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl https://sandbox.belvo.com/api/accounts/{id} \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Get an account
            account = client.Accounts.get(id="account-id")
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.accounts.detail id: 'account-id'
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.accounts.detail('accountId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-accepts: application/json
  /api/transactions/:
    get:
      description: "Get a paginated list of all existing transactions in your Belvo\
        \ account. By default, we return up to 100 results per page."
      operationId: ListTransactions
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: |
          Indicates how many results to return per page. By default we return 100 results per page.

          ℹ️ The minimum number of results returned per page is 1 and the maximum is 1000. If you enter a value greater than 1000, our API will default to the maximum value (1000).
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: |
          The `link.id` you want to filter by.

          ℹ️ We highly recommend adding the `account.id` filter as well in order to improve your performance.
        explode: true
        in: query
        name: link
        required: true
        schema:
          example: 8848bd0c-9c7e-4f53-a732-ec896b11d4c4
          format: uuid
          type: string
        style: form
      - description: |
          The `account.id` you want to filter by.

          ℹ️ We highly recommend adding the `account.id` filter in order to improve your performance.
        explode: true
        in: query
        name: account
        required: false
        schema:
          example: d979df3a-5d0f-4cc9-9bd4-b75c28b45963
          format: uuid
          type: string
        style: form
      - allowReserved: true
        description: |-
          List of additional fields you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.
          ℹ️ **Note**: Although `filters` is an object, any filter you use is automatically serialized as a query string.
        explode: true
        in: query
        name: filters
        required: false
        schema:
          $ref: '#/components/schemas/transactionFilters'
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                TransactionsCheckingPaginated:
                  $ref: '#/components/examples/TransactionsCheckingPaginated'
                TransactionsSavingsPaginated:
                  $ref: '#/components/examples/TransactionsSavingsPaginated'
                TransactionsCreditCardPaginated:
                  $ref: '#/components/examples/TransactionsCreditCardPaginated'
                TransactionsGigDeliveryPaginated:
                  $ref: '#/components/examples/TransactionsGigDeliveryPaginated'
                TransactionsGigDriverPaginated:
                  $ref: '#/components/examples/TransactionsGigDriverPaginated'
              schema:
                $ref: '#/components/schemas/TransactionsPaginatedResponse'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
      summary: List all transactions
      tags:
      - Transactions
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl https://sandbox.belvo.com/api/transactions/ \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from pprint import pprint
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # List transactions
            for transaction in client.Transactions.list():
                pprint(transaction)
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.transactions.list
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.transactions.list()
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-accepts: application/json
    patch:
      description: Used to resume a Transaction retrieve session that was paused because
        an MFA token was required by the institution.
      operationId: PatchTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                TransactionsChecking:
                  $ref: '#/components/examples/TransactionsChecking'
                TransactionsSavings:
                  $ref: '#/components/examples/TransactionsSavings'
                TransactionsCreditCard:
                  $ref: '#/components/examples/TransactionsCreditCard'
                TransactionsGigDelivery:
                  $ref: '#/components/examples/TransactionsGigDelivery'
                TransactionsGigDriver:
                  $ref: '#/components/examples/TransactionsGigDriver'
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: Ok (when `save_data=false`)
        "201":
          content:
            application/json:
              examples:
                TransactionsChecking:
                  $ref: '#/components/examples/TransactionsChecking'
                TransactionsSavings:
                  $ref: '#/components/examples/TransactionsSavings'
                TransactionsCreditCard:
                  $ref: '#/components/examples/TransactionsCreditCard'
                TransactionsGigDelivery:
                  $ref: '#/components/examples/TransactionsGigDelivery'
                TransactionsGigDriver:
                  $ref: '#/components/examples/TransactionsGigDriver'
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: Created (when `save_data=true`)
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegisterLink_400_response_inner'
                type: array
          description: Bad request error
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "408":
          content:
            application/json:
              schema:
                description: "Belvo has a limit regarding the time it takes to log\
                  \ in, retrieve account data, and log out. A timeout occurs when\
                  \ there is a very high amount of data and everything could not be\
                  \ obtained within the allotted time.\n  "
                items:
                  $ref: '#/components/schemas/RequestTimeoutError'
                title: Request Timeout
                type: array
          description: Request Timeout
        "428":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenRequiredResponse'
                type: array
          description: MFA Token Required
        "500":
          content:
            application/json:
              schema:
                description: "This error occurs when we (Belvo) have encountered an\
                  \ internal system error (sorry about that) or due to an unsupported\
                  \ response from the institution.\n  "
                items:
                  $ref: '#/components/schemas/UnexpectedError'
                title: Unexpected Error
                type: array
          description: Unexpected Error
      summary: Complete a transactions request
      tags:
      - Transactions
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X PATCH \
              https://sandbox.belvo.com/api/transactions/ \
              -H 'Content-Type: application/json' \
              -H 'Host: sandbox.belvo.com' \
              -H 'cache-control: no-cache' \
              -d '{
                  "session": "",
                  "token": "",
                  "link": ""
              }' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Resume transactions
            transactions = client.Transactions.resume(
              session="session_id",
              token="token",
              link="link_id"
            )
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.transactions.resume(
              session: 'session-id',
              token: 'token',
              link: 'link-id'
            )
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.transactions.resume('yourSessionId', 'yourOTPToken', 'linkId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: |
        Retrieve transactions for one or more accounts from a specific link.
        <div style="background-color:#f4f6f8; border-left: 6px solid #0663F9;padding: 12px;margin-left: 25px; border-radius: 4px; margin-right: 25px"> <strong>Info: </strong> When retrieving transactions, it is important to understand that the available transaction data ranges depend on each institution. <br><br>
        If you try to access older information than what we can access, we will return all the data we can read within that date range. For example, if you request transactions for the last year and we can only access the last six months, we will return the information corresponding to these six months of data. </div>
      operationId: RetrieveTransactions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                TransactionsChecking:
                  $ref: '#/components/examples/TransactionsChecking'
                TransactionsSavings:
                  $ref: '#/components/examples/TransactionsSavings'
                TransactionsCreditCard:
                  $ref: '#/components/examples/TransactionsCreditCard'
                TransactionsGigDelivery:
                  $ref: '#/components/examples/TransactionsGigDelivery'
                TransactionsGigDriver:
                  $ref: '#/components/examples/TransactionsGigDriver'
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: Ok (when `save_data=false`)
        "201":
          content:
            application/json:
              examples:
                TransactionsChecking:
                  $ref: '#/components/examples/TransactionsChecking'
                TransactionsSavings:
                  $ref: '#/components/examples/TransactionsSavings'
                TransactionsCreditCard:
                  $ref: '#/components/examples/TransactionsCreditCard'
                TransactionsGigDelivery:
                  $ref: '#/components/examples/TransactionsGigDelivery'
                TransactionsGigDriver:
                  $ref: '#/components/examples/TransactionsGigDriver'
              schema:
                items:
                  $ref: '#/components/schemas/Transaction'
                type: array
          description: Created (when `save_data=true`)
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegisterLink_400_response_inner'
                type: array
          description: Bad request error
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "408":
          content:
            application/json:
              schema:
                description: "Belvo has a limit regarding the time it takes to log\
                  \ in, retrieve account data, and log out. A timeout occurs when\
                  \ there is a very high amount of data and everything could not be\
                  \ obtained within the allotted time.\n  "
                items:
                  $ref: '#/components/schemas/RequestTimeoutError'
                title: Request Timeout
                type: array
          description: Request Timeout
        "428":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TokenRequiredResponse'
                type: array
          description: MFA Token Required
        "500":
          content:
            application/json:
              schema:
                description: "This error occurs when we (Belvo) have encountered an\
                  \ internal system error (sorry about that) or due to an unsupported\
                  \ response from the institution.\n  "
                items:
                  $ref: '#/components/schemas/UnexpectedError'
                title: Unexpected Error
                type: array
          description: Unexpected Error
      summary: Retrieve transactions for a link
      tags:
      - Transactions
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X POST \
              https://sandbox.belvo.com/api/transactions/ \
              -H 'Content-Type: application/json' \
              -H 'Host: sandbox.belvo.com' \
              -H 'cache-control: no-cache' \
              -d '{
                "link": "",
                "account": "",
                "date_from": "",
                "date_to": ""
            }' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Retrieve transactions
            transactions = client.Transactions.create(
              "link_id",
              "2019-07-01",
              date_to="2019-07-31"
            )
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            transactions = sandbox.transactions.retrieve(
              link: 'link_id',
              date_from: '2022-01-01',
              options: {
                account: account, //optional
                date_to: '2022-01-24'
              }
            )
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.transactions.retrieve('linkId', '2019-01-01', { 'dateTo': '2019-07-31' })
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-content-type: application/json
      x-accepts: application/json
  /api/transactions/{id}/:
    delete:
      description: Delete a specific transaction from your Belvo account.
      operationId: DestroyTransaction
      parameters:
      - description: The `transaction.id` that you want to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "404":
          content:
            application/json:
              schema:
                description: "You made a request where you:\n\n  - provided the wrong\
                  \ URL.\n  - used an ID (for a link, account, transaction, and so\
                  \ on) that is not associated with your Belvo account.\n  "
                items:
                  $ref: '#/components/schemas/NotFoundError'
                type: array
          description: Not Found
      summary: Delete a transaction
      tags:
      - Transactions
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl -X DELETE \
              https://sandbox.belvo.com/api/transactions/{id}/ \
              -H 'Host: sandbox.belvo.com' \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Delete a transaction
            client.Transactions.delete("transaction-id")
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.transactions.delete id: 'transaction-id'
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.transactions.delete('transactionId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-accepts: application/json
    get:
      description: Get the details of a specific transaction.
      operationId: DetailTransaction
      parameters:
      - description: The `transaction.id` you want to get detailed information about.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                TransactionsChecking:
                  $ref: '#/components/examples/TransactionsCheckingDetail'
                TransactionsSavings:
                  $ref: '#/components/examples/TransactionsSavingsDetail'
                TransactionsCreditCard:
                  $ref: '#/components/examples/TransactionsCreditCardDetail'
                TransactionsGigDelivery:
                  $ref: '#/components/examples/TransactionsGigDeliveryDetail'
                TransactionsGigDriver:
                  $ref: '#/components/examples/TransactionsGigDriverDetail'
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                description: "This error occurs when you try to make an API call using\
                  \ incorrect Belvo API credentials (either your secret key or secret\
                  \ password, or both, are incorrect)."
                items:
                  $ref: '#/components/schemas/UnauthorizedError'
                type: array
          description: Authentication to Belvo API failed
        "404":
          content:
            application/json:
              schema:
                description: "You made a request where you:\n\n  - provided the wrong\
                  \ URL.\n  - used an ID (for a link, account, transaction, and so\
                  \ on) that is not associated with your Belvo account.\n  "
                items:
                  $ref: '#/components/schemas/NotFoundError'
                type: array
          description: Not Found
      summary: Get a transaction's details
      tags:
      - Transactions
      x-readme:
        code-samples:
        - language: cURL
          code: |
            curl https://sandbox.belvo.com/api/transactions/{id} \
              -u [Secret Key ID]:[Secret Key PASSWORD]
        - language: python
          name: Belvo Python SDK
          code: |
            # check our python-client library on github
            # https://github.com/belvo-finance/belvo-python
            from belvo.client import Client

            # Login to Belvo API
            client = Client("Secret Key ID", "Secret Key PASSWORD", "sandbox")

            # Get a transaction
            transaction = client.Transactions.get(id="transaction-id")
        - language: ruby
          name: Belvo Ruby SDK
          code: |
            # check our Ruby gem on github
            # https://github.com/belvo-finance/belvo-ruby
            require 'belvo'

            sandbox = Belvo::Client.new(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            )

            sandbox.transactions.detail id: 'transaction-id'
        - language: node
          name: Belvo Node SDK
          code: |
            // check our node package on github
            // https://github.com/belvo-finance/belvo-js

            var belvo = require('belvo').default;

            var client = new belvo(
              'Secret Key ID',
              'Secret Key PASSWORD',
              'sandbox'
            );

            client.connect()
              .then(function () {
                client.transactions.detail('transactionId')
                  .then(function (res) {
                    console.log(res);
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
            });
      x-accepts: application/json
  /api/balances/:
    get:
      description: "Get a paginated list of all existing balances in your Belvo account.\
        \ By default, we return up to 100 results per page."
      operationId: ListBalances
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: "Indicates how many results to return per page. By default we\
          \ return 100 results per page. \n\nℹ️ The minimum number of results returned\
          \ per page is 1 and the maximum is 1000. If you enter a value greater than\
          \ 1000, our API will default to the maximum value (1000).\n"
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: |
          The `link.id` you want to filter by.

          ℹ️ We highly recommend adding either the `link.id` or the `account.id` filters in order to improve your performance.
        explode: true
        in: query
        name: link
        required: false
        schema:
          example: 8848bd0c-9c7e-4f53-a732-ec896b11d4c4
          format: uuid
          type: string
        style: form
      - description: |
          The `account.id` you want to filter by.

          ℹ️ We highly recommend adding either the `link.id` or the `account.id` filters in order to improve your performance.
        explode: true
        in: query
        name: account
        required: false
        schema:
          example: 8848bd0c-9c7e-4f53-a732-ec896b11d4c4
          format: uuid
          type: string
        style: form
      - allowReserved: true
        description: |-
          List of additional fields you can filter your responses by. For more information on how to use filters, see our [Filtering responses](https://developers.belvo.com/docs/searching-and-filtering) article.
[...]
